.btn-nav {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.btn-top, .btn-bottom {
    height: 5vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button {
    height: 5vh;
    width: 20vw;
    border: 2px solid  black;
    border-radius: 10px; 
    font-size: 1.5vh;
    font-weight: bold;
}
input {
    height: 5vh;
    width: 90vw;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}
.log-text {
    height: 58vh ;
}
hr {
    border: 1px solid  black;
    margin: 0;
}