.header {
    background-color: #f5f4f4;
    border-bottom: 1px solid gray;
    box-shadow: 0px 1px 4px gray;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}