.footer {
    background-color: #f5f4f4;
    height: 10vh;
    border-top: 1px solid gray;
    box-shadow: 0px -1px 4px gray;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}